body {
	margin: 0;
}
header {
	background-color: rgb(53, 147, 224);
	padding: 1rem;
}
main {
	background-color: rgb(143, 198, 250);
	padding: 1rem;
}
h1 {
	margin: 0px;
}

.framed {
	border: 1px solid black;
	margin: 0.5rem;
	padding: 0.5rem;
}

.columns {
	display: flex;
	flex-direction: row;
}

.box {
	width: 1em;
	height: 1em;
	border: 2px solid brown;
}

.row {
	font-size: 200%;
	border: 1px solid black;
	padding: 0.2em;
	gap: 0.2em;
	display: flex;
	flex-direction: row;
	height: 3em;
	/* align-items: flex-end; */
	justify-content: space-between;

}

.align-bottom {
	align-self: flex-end;
}
.align-center {
	align-self: center;
}

.column {
	font-size: 200%;
	border: 1px solid black;
	padding: 0.2em;
	gap: 0.2em;
	display: flex;
	flex-direction: column;
}
.column > * {
	width: 1.1em;
	height: 1.1em;
	background-color: rgb(34, 84, 11);
	color: rgb(130, 227, 130);
	text-align: center;
}

.shorthand {
	/* margin, padding, border m.fl. är "shorthands" */
	margin: 1em;
	padding: 0.5em;
	border: 1em solid black;
	border-top: 1em dotted rgb(58, 58, 58);
	border-right: 0.5em solid rgb(166, 66, 66);
	border-bottom: 2em dashed rgb(199, 199, 81);
}
